<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatUnreadServlet</servlet-name>
    <servlet-class>chat.ChatUnreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatUnreadServlet</servlet-name>
    <url-pattern>/chatUnread</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatBoxServlet</servlet-name>
    <servlet-class>chat.ChatBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatBoxServlet</servlet-name>
    <url-pattern>/chatBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>chat.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/mapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFindServlet</servlet-name>
    <servlet-class>chat.UserFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindServlet</servlet-name>
    <url-pattern>/userFindServlet</url-pattern>
  </servlet-mapping>
</web-app>