@charset "UTF-8";
html, body{ margin: 0; width: 100%; height: 100%; }
/* Header */
header{
	padding: 8px 12px; display: flex;	
	align-items: center; justify-content: space-between;
	width: 100%; background-color: #131A40; }
.top_logo{
	float: left; color: #F2F2F0;
	font-size: 50px; font-weight: bold; }
.top_btn_login{ float: right; }
.top_btn_logout{ float: right; }
/* Header */
nav{
    display: flex; align-items: center;
	width: 100%; height: 100%; }
/* Left menu */
.left_menu{
	list-style-type: none; background-color: #F2F2F0;
	float: left; margin: 0; padding: 0;
	width: 200px; height: 100%; }
.left_menu li a{
	display: block; color: #131A40;
    padding: 8px 0 8px 16px; text-decoration: none; }
.left_menu li a:hover{ display: block; background-color: #131A40; color: #F2F2F0; }
/* Left menu */
/* Center items */
.center{
	vertical-align: baseline; float: left;
	margin: 16px; color: #131A40;
	width: 100%; height: 100%; overflow: scroll; }
.center::-webkit-scrollbar { display: none; /* Hide scrollbar for Chrome, Safari and Opera */ }
.center_notice a { color: #344059; text-decoration: none; }
.center_notice a:hover{ color: #88B0BF; }
.center_gallery{ align-items: center;}
.center_gallery img{ height: 200px; margin-top: 8px; }
.center_board table{
	border-bottom: 1px solid #88B0BF; border-top: 1px solid #88B0BF;
	margin-top: 8px; padding: 3px; width: 100%; }
.center_board #img{ width: 60px; height: 50px; float: right; }
.cente_board #title{ font-weight: bold; font-size: 16px; color: #344059; }
.center_board #content{ font-size: 13px; color: #80A7BF; }
.center_board #write{ font-size: 8px; color: #88B0BF; }
/* Center items */

h1{ color: #88B0BF; }
.center textarea{
	resize: none; border: 1px solid #88B0BF;
	width: 300px; height: 300px; }
.center #count{ color: #88B0BF; }
.center #txt_readonly{ border: 0; }
.page_num a { color: #344059; text-decoration: none; }
.page_num a:hover{ color: #88B0BF; }

/* Footer */
.bottom{
	width: 100%; padding: 8px;
	text-align: center;
	background-color: #131A40; }
.bottom a{ color: #88B0BF; }
.bottom a:hover{ color: #F2F2F0; }
/* Footer */

