@CHARSET "UTF-8";
html,body{
	width: 100%; height: 100%; margin: 0; display: flex;
	align-items: center; justify-content: space-between;
	background-color: #131A40; }
.left{ float:left; width: 10%; visibility: hidden; }
.right{ float:right; width: 10%; visibility: hidden; }
.member_input{
	width: 500px; height: 100%; display: flex;
	align-items: center; justify-content: center;
	background-color: #131A40; color: #F2F2F0; }
.member_input form{
	width: 100%; text-align: center;
	justify-content: space-between; }
.member_input fieldset{ border: 0; }
.member_input legend{ visibility: hidden; }
.member_input input{ margin-top: 10px; width: 50%; r }
